<!DOCTYPE html>
<html ng-app="app" class="ng-scope" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="Save your notes online for free and share them with friends!">
<meta name="keywords" content="notepad online,notepad,cloud,free notepad,save notes,notes,online notepad,cloud notepad,write,note,writing,publish,webpage,markdown">
<link rel="shortcut icon" href="https://notepad.pw/favicon.ico" type="image/x-icon">
<link rel="icon" href="https://notepad.pw/favicon.ico" type="image/x-icon">
<meta property="og:type" content="website">
<meta property="og:title" content="notepad.pw">
<meta property="og:description" content="Save your notes online for free and share them with friends!">
<meta property="og:url" content="https://notepad.pw">
<meta property="og:image" content="https://notepad.pw/og-icon.png">
<title>notepad.pw / dbpdotslash | The napkin of the internet.</title>
<link href="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/css" rel="stylesheet" type="text/css">
<link id="mode" href="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/global.css" rel="stylesheet" type="text/css">
<link href="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/normalize.css" rel="stylesheet" media="screen" type="text/css">
<link href="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/ionicons.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" style="margin: 47.7px auto 0px; display: block;">
<div ng-controller="app.navigation" class="functions ng-scope">
<div class="nav">
<div class="fl-left" style="opacity: 0.7;">
<div class="notepad_logo" title="Click here for Google Search">
<img class="main-logo" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/logo-dark.png" style="opacity: 1;" width="90px" height="100%">
</div>
<div class="gsearch">
<i class="ion-social-google" title="Click here to close"></i> <input type="text" onkeypress="return checkEnter(event)" class="search_google" placeholder="type here &amp; press enter" autocomplete="off" style="width: 200px;">
<input type="text" style="display:none">
</div>
</div>
<div class="fl-right" style="opacity: 0.7;">
<a href="javascript:void(0)" ng-click="new_note();" class="tooltip">
 <i class="ion-plus"></i>
<div class="tooltiptext">New Note</div>
</a>
<a ng-click="modal = !modal; show_password();" href="javascript:void(0)" class="tooltip">
<i class="ion-locked"></i>
<div class="tooltiptext">Password Options</div>
</a>
<a ng-click="modal = !modal; show_change_url();" href="javascript:void(0)" class="tooltip">
<i class="ion-edit"></i>
<div class="tooltiptext">Change URL</div>
</a>
<a class="desktop-only tooltip " href="https://notepad.pw/account/login">
<i class="ion-person"></i>
<div class="tooltiptext">Account Panel</div>
</a>
<a href="javascript:void(0)" class="desktop-only tooltip not-active" ng-click="sp()">
SP
<div class="tooltiptext">Spell Check</div>
</a>
<a href="javascript:void(0)" ng-init="mo_class = 'not-active'" class="desktop-only tooltip not-active" ng-click="mo()">
MO
<div class="tooltiptext">Monospace Font</div>
</a>
<a href="javascript:void(0)" class="desktop-only tooltip" onclick="swapsheets()">
<i class="ion-lightbulb"></i>
<div class="tooltiptext">Light Switch</div>
</a>
<a href="https://notepad.pw/tools" target="_blank" class="desktop-only tooltip">
<i class="ion-settings"></i>
<div class="tooltiptext">Tools</div>
</a>
</div>
<div class="cf"></div>
<div ng-show="modal" class="modal ng-hide" style="opacity: 1; display: block;">
<!-- ngIf: edit_password -->
<!-- ngIf: change_url -->
<!-- ngIf: password_options -->
</div>
</div>
</div>
<div class="txt-holder ng-scope" ng-controller="app.push">
<textarea ng-model="textarea" allow-tab="" open-url="" character-count="" bind-input="update_contents();" ng-change="update_contents();" class="textarea ng-valid ng-not-empty ng-touched ng-dirty ng-valid-parse" spellcheck="false" placeholder="" style="font-size: 15px; height: 604.4px;">NOOBS:
https://www.raspberrypi.org/downloads/noobs/

opencv-contrib-python
SpeechRecognizer
pyttsx3
google-cloud-speech

credentials = service_account.Credentials.from_service_account_file('api-key.json')

https://github.com/uvavision/obj2text-neuraltalk2'

https://github.com/KranthiGV/Pretrained-Show-and-Tell-model

https://edouardfouche.com/Fun-with-Tensorflow-im2txt/


</textarea>
<div style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;" class="direct-raw desktop-only">
<a class="resize" href="javascript:void(0)" title="Resize window"><i class="ion-arrow-resize"></i></a>&nbsp;
<a class="increase" href="javascript:void(0)" title="Increase font-size"><i class="ion-plus"></i></a>&nbsp;
<a class="decrease" href="javascript:void(0)" title="Decrease font-size"><i class="ion-minus"></i></a>&nbsp;
<a target="_blank" href="https://notepad.pw/raw/92w8b58hk" title="View in plain-text">Raw</a>&nbsp;
<a target="_blank" href="https://notepad.pw/markdown/92w8b58hk" title="View in markdown">MarkDown</a>&nbsp;
<a target="_blank" href="https://notepad.pw/code/92w8b58hk" title="View with line numbers">Code</a>&nbsp;
</div>
</div>
<div ng-controller="app.navigation" class="functions ng-scope">
<div class="footer-share text-center" style="opacity: 0.7;">
<button class="share-btn" title="Copy Editable Link" data-clipboard-text="https://notepad.pw/dbpdotslash" onclick="$(this).find('span').stop().fadeOut().fadeIn();"><span><i class="ion-link"></i> Editable Link</span></button>
<button class="share-btn" title="Copy Share Link" data-clipboard-text="https://notepad.pw/share/92w8b58hk" onclick="$(this).find('span').stop().fadeOut().fadeIn();"><span><i class="ion-android-share"></i> Share Link</span></button>
<div class="footer-stats"><b>Words:</b> <span class="word_count">12</span> | <b>Chars:</b> <span class="char_count">375</span> | <b>Views:</b> 2</div>
<div class="footer-stats"><small><b>Last Updated:</b> 46 Seconds ago</small></div> </div>
</div>
</div>
<div class="footer-print" style="display: block;">
<a target="_blank" href="https://notepad.pw/privacy">Privacy</a>
<i class="ion-ios-minus-empty"></i>
<a target="_blank" href="https://notepad.pw/contact">Contact Us</a>
<i class="ion-ios-minus-empty"></i>
<a target="_blank" href="https://about.notepad.pw/">About Us</a>
</div>
<div class="np-share desktop-only">
<div class="share-content">
<a class="share-link" href="https://www.facebook.com/sharer/sharer.php?u=https://notepad.pw/share/92w8b58hk" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"><i class="ion-social-facebook"></i></a>
<a class="share-link" href="https://twitter.com/share?text=notepad.pw&amp;url=https://notepad.pw/share/92w8b58hk" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"><i class="ion-social-twitter"></i></a>
<a class="share-link" href="https://reddit.com/submit?url=https://notepad.pw/share/92w8b58hk&amp;title=notepad.pw" target="_blank"><i class="ion-social-reddit"></i></a>
</div>
<i class="ion-ios-upload-outline share-opener" style="width: 20px;display: block;"></i>
</div>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/jquery.js"></script>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/angular.js"></script>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/angular-cookies.js"></script>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/socket.js"></script>
<script>
    note_created = true;
    password_set = false;
    caret = 204;
    pad_key = '92w8b58hk';
    url_key = 'dbpdotslash';
    version = 229;
</script>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/app.js"></script>
<script type="text/javascript" src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/store.js"></script>
<script src="notepad.pw%20_%20dbpdotslash%20|%20The%20napkin%20of%20the%20internet_files/clipboard.js"></script>
<script>
    initiate_localStorage();

    function initiate_localStorage() {
        arr = [];
        input_value = url_key;
        if (store.get('recent')) {
            if ($.inArray(input_value, store.get('recent')) == -1) {
                arr = store.get('recent');
                arr.push(input_value);
                store.set('recent', arr);
            }
        } else {
            arr = [input_value];
            store.set('recent',arr);
        }
        update_localStorage();
    }

    function update_localStorage() {
        arr = store.get('recent');
        if (arr.length >= 6) {
            arr.shift();
            store.set('recent',arr);
        }
    }

    new Clipboard('.share-btn');
</script>


</body></html>